SARVAM_API_KEY=sk_ofdpfh1o_zdhNv5LJscgGaqW2hvP16uPX
NEO4J_URI=neo4j+s://a8e8e1ba.databases.neo4j.io

NEO4J_USERNAME=a8e8e1ba
NEO4J_PASSWORD=gFiaIt6kAEvMAAiDWSmU6GpqktdTPL1N79hYQuwYhwg

BASE44_API_KEY=1ec5cf39c2ff457c9686d35b1c5650d0
BASE44_APP_ID=6a494c246e43fac149974886

JWT_SECRET=generate-a-random-32-char-string-here

STELLAR_TREASURY_SECRET=your-stellar-treasury-secret-here
STELLAR_NETWORK=testnet

RENDER_WORKFLOW_URL=https://api.render.com/v1/workflows
RENDER_API_KEY=your-render-api-key-here
